<!-- navbar-->
<header class="header">
  <nav class="navbar navbar-expand-lg fixed-top">
    <a href="#" class="navbar-brand">
      <img src="/assets/images/logo.png" style="width:100px">
    </a>
    <button type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
      aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler navbar-toggler-right">
      <span></span>
      <span></span>
      <span></span>
    </button>
    <div id="navbarSupportedContent" class="collapse navbar-collapse">
      <ul class="navbar-nav ml-auto align-items-start align-items-lg-center">
        <li class="nav-item">
          <a href="#how-we-work" class="nav-link link-scroll">How we work</a>
        </li>
        <li class="nav-item">
          <a href="#what-we-offer" class="nav-link link-scroll">What we offer</a>
        </li>
        <li class="nav-item">
          <a href="#about-us" class="nav-link link-scroll">Who we are</a>
        </li>
      </ul>
      <div class="navbar-text">
        <!-- Button trigger modal-->
        <a href="#say-hi" class="btn btn-primary navbar-btn btn-shadow btn-gradient">Say Hi!</a>
      </div>
    </div>
  </nav>
</header>

<section id="hero" class="hero hero-home bg-gray">
  <div class="container">
    <div class="row d-flex">
      <div class="col-lg-6 text order-2 order-lg-1 main-desc-box">
        <h1>We sell like no other</h1>
        <p class="hero-text">SmartMarket is more than a market place. We are building a community of customers and vendors simplifying the process
          of purchase and making sales</p>
        <div class="CTA">
          <a href="#how-we-work" class="btn btn-primary btn-shadow btn-gradient link-scroll">How we work</a>
        </div>
      </div>
      <div class="col-lg-6 order-1 order-lg-2">
        <img src="/assets/images/landing/market.png" alt="..." class="img-fluid">
      </div>
    </div>
  </div>
</section>

<section id="how-we-work" class="browser">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="col-lg-8 text-center">
        <h2 class="h3 mb-5">How we work</h2>
        <div class="browser-mockup">
          <div id="nav-tabContent" class="tab-content">
            <div id="nav-first" role="tabpanel" aria-labelledby="nav-first-tab" class="tab-pane fade show active">
              <img src="/assets/images/landing/preview-1.png" alt="..." class="img-fluid">
            </div>
            <div id="nav-second" role="tabpanel" aria-labelledby="nav-second-tab" class="tab-pane fade">
              <img src="/assets/images/landing/preview-2.png" alt="..." class="img-fluid">
            </div>
            <div id="nav-third" role="tabpanel" aria-labelledby="nav-third-tab" class="tab-pane fade">
              <img src="/assets/images/landing/preview-3.png" alt="..." class="img-fluid">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="myTab" role="tablist" class="nav nav-tabs">
      <div class="row">
        <div class="col-md-4">
          <a id="nav-first-tab" data-toggle="tab" href="#nav-first" role="tab" aria-controls="nav-first" aria-expanded="true" class="nav-item nav-link active">
            <span class="number">1</span>Browse through our wide range of products</a>
        </div>
        <div class="col-md-4">
          <a id="nav-second-tab" data-toggle="tab" href="#nav-second" role="tab" aria-controls="nav-second" class="nav-item nav-link">
            <span class="number">2</span>Contact us with details of the product via our phone numbers, social media pages or the contact form
            below
          </a>
        </div>
        <div class="col-md-4">
          <a id="nav-third-tab" data-toggle="tab" href="#nav-third" role="tab" aria-controls="nav-third" class="nav-item nav-link">
            <span class="number">3</span>Get your product delivered to you or arrange for a pickup</a>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="what-we-offer" class="products">
  <div class="container">
    <h2 style="text-align:center">Our Products</h2>
    <div class="row">
      <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12 item-padding">
        <div class="card">
          <img class="card-img-top" src="/assets/images/landing/products/bags1.png" alt="Card image">
          <div class="card-body">
            <h4 class="card-title">Card title</h4>
            <p class="card-text">Some example text. Some example text.</p>
            <a href="#say-hi" class="btn btn-primary">Contact us now</a>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12 item-padding">
        <div class="card">
          <img class="card-img-top" src="/assets/images/landing/products/bags2.jpg" alt="Card image">
          <div class="card-body">
            <h4 class="card-title">Card title</h4>
            <p class="card-text">Some example text. Some example text.</p>
            <a href="#say-hi" class="btn btn-primary">Contact us now</a>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12 item-padding">
        <div class="card">
          <img class="card-img-top" src="/assets/images/landing/products/shoes1.png" alt="Card image">
          <div class="card-body">
            <h4 class="card-title">Card title</h4>
            <p class="card-text">Some example text. Some example text.</p>
            <a href="#say-hi" class="btn btn-primary">Contact us now</a>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12 item-padding">
        <div class="card">
          <img class="card-img-top" src="/assets/images/landing/products/shoes2.png" alt="Card image">
          <div class="card-body">
            <h4 class="card-title">Card title</h4>
            <p class="card-text">Some example text. Some example text.</p>
            <a href="#say-hi" class="btn btn-primary">Contact us now</a>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12 item-padding">
        <div class="card">
          <img class="card-img-top" src="/assets/images/landing/products/shoes3.png" alt="Card image">
          <div class="card-body">
            <h4 class="card-title">Card title</h4>
            <p class="card-text">Some example text. Some example text.</p>
            <a href="#say-hi" class="btn btn-primary">Contact us now</a>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12 item-padding">
        <div class="card">
          <img class="card-img-top" src="/assets/images/landing/products/watches1.png" alt="Card image">
          <div class="card-body">
            <h4 class="card-title">Card title</h4>
            <p class="card-text">Some example text. Some example text.</p>
            <a href="#say-hi" class="btn btn-primary">Contact us now</a>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12 item-padding">
        <div class="card">
          <img class="card-img-top" src="/assets/images/landing/products/watches2.png" alt="Card image">
          <div class="card-body">
            <h4 class="card-title">Card title</h4>
            <p class="card-text">Some example text. Some example text.</p>
            <a href="#say-hi" class="btn btn-primary">Contact us now</a>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12 item-padding">
        <div class="card">
          <img class="card-img-top" src="/assets/images/landing/products/watches8.png" alt="Card image">
          <div class="card-body">
            <h4 class="card-title">Card title</h4>
            <p class="card-text">Some example text. Some example text.</p>
            <a href="#say-hi" class="btn btn-primary">Contact us now</a>
          </div>
        </div>
      </div>
    </div>
    <div style="padding-top:50px; text-align:center">
      <a href="#" class="btn btn-primary btn-shadow btn-gradient">Discover More</a>
    </div>
  </div>
</section>

<section id="about-us" class="about-us bg-gray">
  <div class="container">
    <h2 style="text-align:center">Our Vision</h2>
    <div class="row">
      <p class="lead col-lg-10">The smartMARKET has the drive to be “Africa’s number one digital market space and citadel for smart consumer goods”.
        This is in line with the parent company’s goal of “creatively bringing solutions to people’s everyday needs”. </p>
    </div>
  </div>
  <div class="container" style="margin-top:50px!important">
    <h2 style="text-align:center">Mission Statement</h2>
    <div class="row">
      <p class="lead col-lg-10">
        In achieving the vision of being the citadel for smart consumer goods, the smartMARKET has set out on a 7-point agenda in
        its mission. These are:
      </p>
      <ul>
        <li>Never compromise product quality</li>
        <li>Maintain a customer base across all of Africa</li>
        <li>Physical presence in all cities in Africa</li>
        <li>Collaborate with all wholesalers in African States</li>
        <li>Partner with top vendors in Nigeria</li>
        <li>Promote Nigerian/African products to the rest of the world</li>
      </ul>
    </div>
  </div>
</section>

<section id="say-hi" class="newsletter bg-primary">
  <div class="container text-center">
    <h2 style="color:white">Send us a message</h2>
    <p class="lead" style="color:#efefef">Interested in a product? let us know or give us a feedback</p>
    <div class="form-holder">
      <form id="newsletterForm" action="#">
        <div class="form-group">
          <input type="text" name="fullName" id="fullName" placeholder="Enter Your Full Name">
        </div>
        <div class="form-group">
          <input type="email" name="email" id="email" placeholder="Enter Your Email Address">
        </div>
        <div class="form-group">
          <input type="tel" name="tel" id="tel" placeholder="Enter Your Phone Number">
        </div>
        <div class="form-group">
          <textarea id="message" name="message" placeholder="message" rows="8"></textarea>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary btn-gradient submit">Send</button>
        </div>
      </form>
    </div>
    <div>
      <a href="">
        <i class="fa fa-facebook fa-3x"></i>
      </a>
    </div>
  </div>
</section>

<div id="scrollTop">
  <div class="d-flex align-items-center justify-content-end">
    <i class="fa fa-long-arrow-up"></i>To Top</div>
</div>

<footer class="main-footer">
  <div class="copyrights">
    <div class="container">
      <div class="row">
        <div class="col-md-7">
          <p>&copy; 2018 SmartMarket. All rights reserved. </p>
        </div>
      </div>
    </div>
  </div>
</footer>
