<!-- navbar-->
<header class="header">
  <nav class="navbar navbar-expand-lg fixed-top">
    <a href="#" class="navbar-brand">
      <img src="/assets/images/logo.png" style="width:100px">
    </a>
    <button type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
      aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler navbar-toggler-right">
      <span></span>
      <span></span>
      <span></span>
    </button>
    <div id="navbarSupportedContent" class="collapse navbar-collapse">
      <ul class="navbar-nav ml-auto align-items-start align-items-lg-center">
        <li class="nav-item">
          <a href="#how-we-work" class="nav-link link-scroll">How we work</a>
        </li>
        <li class="nav-item">
          <a href="#what-we-offer" class="nav-link link-scroll">Our products</a>
        </li>
        <li class="nav-item">
          <a href="#about-us" class="nav-link link-scroll">Who we are</a>
        </li>
        <!-- <li>
          <a class="fa-stack fa-2x social-facebook" href="">
            <i class="fa fa-circle fa-stack-2x elevate-2"></i>
            <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
          </a>
        </li>
        <li>
          <a class="fa-stack fa-2x social-instagram" href="">
            <i class="fa fa-circle fa-stack-2x elevate-2"></i>
            <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
          </a>
        </li>
        <li>
          <a class="fa-stack fa-2x social-twitter" href="">
            <i class="fa fa-circle fa-stack-2x elevate-2"></i>
            <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
          </a>
        </li> -->
      </ul>
      <div class="navbar-text">
        <a href="#say-hi" class="btn btn-primary navbar-btn btn-shadow btn-gradient link-scroll">Say Hi!</a>
      </div>
    </div>
  </nav>
</header>

<section id="hero" class="hero hero-home bg-gray">
  <div class="container">
    <div class="row d-flex">
      <div class="col-lg-6 text order-2 order-lg-1 main-desc-box">
        <h1>We sell like no other</h1>
        <p class="hero-text">SmartMarket is more than a market place. We are building a community of customers and vendors simplifying the process
          of purchase and making sales</p>
        <div class="CTA">
          <a href="#how-we-work" class="btn btn-primary btn-shadow btn-gradient link-scroll">How we work</a>
        </div>
      </div>
      <div class="col-lg-6 order-1 order-lg-2">
        <img src="/assets/images/landing/market.png" alt="..." class="img-fluid">
      </div>
    </div>
  </div>
</section>

<section id="how-we-work" class="browser">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="col-lg-8 text-center">
        <h2 class="h3 mb-5">How we work</h2>
        <div class="browser-mockup">
          <div id="nav-tabContent" class="tab-content">
            <div id="nav-first" role="tabpanel" aria-labelledby="nav-first-tab" class="tab-pane fade show active">
              <img src="/assets/images/landing/preview-1.png" alt="..." class="img-fluid">
            </div>
            <div id="nav-second" role="tabpanel" aria-labelledby="nav-second-tab" class="tab-pane fade">
              <img src="/assets/images/landing/preview-2.png" alt="..." class="img-fluid">
            </div>
            <div id="nav-third" role="tabpanel" aria-labelledby="nav-third-tab" class="tab-pane fade">
              <img src="/assets/images/landing/preview-3.png" alt="..." class="img-fluid">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="myTab" role="tablist" class="nav nav-tabs">
      <div class="row">
        <div class="col-md-4">
          <a id="nav-first-tab" data-toggle="tab" href="#nav-first" role="tab" aria-controls="nav-first" aria-expanded="true" class="nav-item nav-link active">
            <span class="number">1</span>Browse through our wide range of products</a>
        </div>
        <div class="col-md-4">
          <a id="nav-second-tab" data-toggle="tab" href="#nav-second" role="tab" aria-controls="nav-second" class="nav-item nav-link">
            <span class="number">2</span>Contact us with details of the product via our phone numbers, social media pages or the contact form
            below
          </a>
        </div>
        <div class="col-md-4">
          <a id="nav-third-tab" data-toggle="tab" href="#nav-third" role="tab" aria-controls="nav-third" class="nav-item nav-link">
            <span class="number">3</span>Get your product delivered to you or arrange for a pickup</a>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="what-we-offer" class="products">
  <div class="container">
    <h2 style="text-align:center">Our Products</h2>
    <div class="row">
      <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12 item-padding">
        <div class="card">
          <img class="card-img-top" src="/assets/images/landing/products/bags1.png" alt="Card image">
          <div class="card-body">
            <h4 class="card-title">White bag</h4>
            <a href="https://api.whatsapp.com/send?phone=2349074552486&text=I'm%20interested%20in%20the%20White%20bag" target="_blank"
              class="btn btn-primary">Buy now</a>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12 item-padding">
        <div class="card">
          <img class="card-img-top" src="/assets/images/landing/products/bags2.jpg" alt="Card image">
          <div class="card-body">
            <h4 class="card-title">Silver bag</h4>
            <a href="https://api.whatsapp.com/send?phone=2349074552486&text=I'm%20interested%20in%20the%Silver%20bag" target="_blank"
              class="btn btn-primary">Buy now</a>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12 item-padding">
        <div class="card">
          <img class="card-img-top" src="/assets/images/landing/products/shoes1.png" alt="Card image">
          <div class="card-body">
            <h4 class="card-title">Brown suede shoe</h4>
            <a href="https://api.whatsapp.com/send?phone=2349074552486&text=I'm%20interested%20in%20the%Brown%20suede%20shoe" target="_blank"
              class="btn btn-primary">Buy now</a>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12 item-padding">
        <div class="card">
          <img class="card-img-top" src="/assets/images/landing/products/shoes2.png" alt="Card image">
          <div class="card-body">
            <h4 class="card-title">Black shoe</h4>
            <a href="https://api.whatsapp.com/send?phone=2349074552486&text=I'm%20interested%20in%20the%20Black%20shoe" target="_blank"
              class="btn btn-primary">Buy now</a>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12 item-padding">
        <div class="card">
          <img class="card-img-top" src="/assets/images/landing/products/shoes3.png" alt="Card image">
          <div class="card-body">
            <h4 class="card-title">Black leather shoe</h4>
            <a href="https://api.whatsapp.com/send?phone=2349074552486&text=I'm%20interested%20in%20the%20black%20leather%20shoe" target="_blank"
              class="btn btn-primary">Buy now</a>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12 item-padding">
        <div class="card">
          <img class="card-img-top" src="/assets/images/landing/products/watches1.png" alt="Card image">
          <div class="card-body">
            <h4 class="card-title">Silver watch</h4>
            <a href="https://api.whatsapp.com/send?phone=2349074552486&text=I'm%20interested%20in%20the%20Silver%20Watch" target="_blank"
              class="btn btn-primary">Buy now</a>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12 item-padding">
        <div class="card">
          <img class="card-img-top" src="/assets/images/landing/products/watches2.png" alt="Card image">
          <div class="card-body">
            <h4 class="card-title">Pink watch</h4>
            <a href="https://api.whatsapp.com/send?phone=2349074552486&text=I'm%20interested%20in%20the%20Pink%20watch" target="_blank"
              class="btn btn-primary">Buy now</a>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12 item-padding">
        <div class="card">
          <img class="card-img-top" src="/assets/images/landing/products/watches8.png" alt="Card image">
          <div class="card-body">
            <h4 class="card-title">Black watch</h4>
            <a href="https://api.whatsapp.com/send?phone=2349074552486&text=I'm%20interested%20in%20the%20Black%20watch" target="_blank"
              class="btn btn-primary">Buy now</a>
          </div>
        </div>
      </div>
    </div>
    <div style="padding-top:50px; text-align:center">
      <a href="https://www.facebook.com/pg/smartmarketNG/shop" target="_blank" class="btn btn-primary btn-shadow btn-gradient">Discover More</a>
    </div>
  </div>
</section>

<section id="about-us" class="about-us bg-gray">
  <div class="container">
    <h2 style="text-align:center">Our Vision</h2>
    <div class="row">
      <p class="lead col-lg-10">The smartMARKET has the drive to be “Africa’s number one digital market space and citadel for smart consumer goods”.
        This is in line with the parent company’s goal of “creatively bringing solutions to people’s everyday needs”. </p>
    </div>
  </div>
  <div class="container" style="margin-top:50px!important">
    <h2 style="text-align:center">Mission Statement</h2>
    <div class="row">
      <p class="lead col-lg-10">
        In achieving the vision of being the citadel for smart consumer goods, the smartMARKET has set out on a 7-point agenda in
        its mission. These are:
      </p>
      <ul>
        <li>Never compromise product quality</li>
        <li>Maintain a customer base across all of Africa</li>
        <li>Physical presence in all cities in Africa</li>
        <li>Collaborate with all wholesalers in African States</li>
        <li>Partner with top vendors in Nigeria</li>
        <li>Promote Nigerian/African products to the rest of the world</li>
      </ul>
    </div>
  </div>
</section>

<section id="say-hi" class="newsletter bg-primary">
  <div class="container text-center">
    <h2 style="color:white">Send us a message</h2>
    <p class="lead" style="color:#efefef">Interested in a product? let us know or give us a feedback</p>
    <div class="form-holder">
      <form id="newsletterForm" #contactUs="ngForm">
        <div class="form-group">
          <input type="text" name="fullName" id="fullName" placeholder="Enter Your Full Name" #fullName="ngModel" [(ngModel)]="contactUsModel.fullName"
            required>
        </div>
        <div class="form-group">
          <input type="email" pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$" name="email" id="email" placeholder="Enter Your Email Address"
            #email="ngModel" [(ngModel)]="contactUsModel.email" required>
          <span *ngIf="email.invalid && (email.touched || email.dirty)" class="cd-error">Invalid field</span>
        </div>
        <div class="form-group">
          <input type="tel" name="tel" id="tel" placeholder="Enter Your Phone Number (e.g. 08031234567)" minlength="8" maxlength="13" pattern="\d+" #phone="ngModel"
            [(ngModel)]="contactUsModel.phone">
          <span *ngIf="phone.invalid && (phone.touched || phone.dirty)" class="cd-error">Invalid field</span>
        </div>
        <div class="form-group">
          <textarea id="message" name="message" placeholder="message" rows="8" minlength="3" #message="ngModel" [(ngModel)]="contactUsModel.message"
            required>
          </textarea>
          <span *ngIf="message.invalid && (message.touched || message.dirty)" class="cd-error">Invalid field</span>
        </div>
        <div class="alert" *ngIf="status.state != 'loading'" [class.alert-success]="status.state == 'success'" [class.alert-danger]="status.state == 'error'">{{status.message}}</div>
        <div class="form-group">
          <button (click)="sendMail()" class="btn btn-primary btn-gradient submit" [disabled]="contactUs.invalid || status.state == 'loading'">Send
            <i *ngIf="status.state == 'loading'" class="fa fa-spin fa-spinner"></i>
          </button>
        </div>
      </form>
    </div>
    <div style="margin-top:20px" class="card">
      <div class="card-body">
        <div>
          <a class="fa-stack fa-2x social-facebook" href="https://www.facebook.com/pg/smartmarketNG" target="_blank">
            <i class="fa fa-circle fa-stack-2x elevate-2"></i>
            <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
          </a>
          <a class="fa-stack fa-2x social-instagram" href="" target="_blank">
            <i class="fa fa-circle fa-stack-2x elevate-2"></i>
            <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
          </a>
          <a class="fa-stack fa-2x social-twitter" href="https://twitter.com/smartmarketNG" target="_blank">
            <i class="fa fa-circle fa-stack-2x elevate-2"></i>
            <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
          </a>
        </div>

        <div style="margin-top:20px">
          <p>
            <i class="fa fa-map-marker fa-2x" style="color: red"></i> Smart Hub, Suite E16, Emab Plaza, Wuse 2, Abuja
          </p>
          <p>
            <i class="fa fa-whatsapp fa-2x" style="color: green"></i> 09074552486
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<div id="scrollTop">
  <div class="d-flex align-items-center justify-content-end">
    <i class="fa fa-long-arrow-up"></i>To Top</div>
</div>

<footer class="main-footer">
  <div class="copyrights">
    <div class="container">
      <div class="row">
        <div class="col-md-7">
          <p>&copy; 2018 SmartMarket. Powered by
            <a href="https://thesmarthub.com.ng" target="_blank" style="color:purple">SmartHub</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
