<head>
    <title>Contact Us Message</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<style>
    .field-name {
        font-weight: 700;
    }

    .field-box {
        margin-top: 50px!important;
        font-size: 20px!important;
    }
</style>

<body style="background: #E3E5E7;">
    <div>
        <ul>
            <li class="field-box">
                <span class="field-name">Full Name:</span>
                <span>{{fullName}}</span>
            </li>
            <li class="field-box">
                <span class="field-name">Email:</span>
                <span>{{email}} </span>
            </li>
            <li class="field-box">
                <span class="field-name">Phone:</span>
                <span>{{phone}}</span>
            </li>
            <li class="field-box">
                <span class="field-name">Mesage:</span>
                <span>{{message}}</span>
            </li>
        </ul>
    </div>
    <div style="padding:30px; background-color:#cfcfcf; color:#333;">
        &copy; SmartMarket 2018
    </div>
</body>