<div class="container-fluid">
  <!-- Breadcrumbs-->
  <ol class="breadcrumb">
    <li class="breadcrumb-item active">
      <a href="#">Categories</a>
    </li>
  </ol>
  <!-- Example DataTables Card-->
  <div class="card mb-3">
    <div class="card-header">
      <i class="fa fa-table"></i> Product categories</div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th>Category Name</th>
              <th>Date Created</th>
              <th>Date Modified</th>
              <th>Edit</th>
              <th>Delete</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let category of categories; let i=index">
              <td>{{category.name}}</td>
              <td>{{category.dateCreated}}</td>
              <td>{{category.dateModified}}</td>
              <td>
                <button class="btn btn-link" data-toggle="modal" data-target="#categoriesModal" (click)="showEditModal(category)">
                  <i class="fa fa-pencil"></i>
                </button>
              </td>
              <td>
                <button class="btn btn-link" (click)="deleteCategory(category)">
                  <i class="fa fa-trash"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<button class="fab btn btn-primary" data-toggle="modal" data-target="#categoriesModal" (click)="showAddModal()">
  <i class="fa fa-plus"></i>
</button>

<!-- Add Product Modal-->
<div class="modal fade" tabindex="-1" role="dialog" id="categoriesModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add Category</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="categoryName">Category name</label>
            <input type="text" class="form-control" id="categoryName" placeholder="Enter Category Name" name="categoryName" #categoryName="ngModel"
              [(ngModel)]="categoryModel.name" pattern="^[A-Za-z\s]+$" minlength="3">
            <span class="cd-error" *ngIf="categoryName.invalid && (categoryName.touched || categoryName.dirty)">Invalid field</span>
          </div>
          <div class="form-group">
            <span class="cd-error" *ngIf="errMsg !== ''">{{errMsg}}</span>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="manageProduct()">Add Category
          <i *ngIf="isLoading" class="fa fa-spin fa-spinner"></i>
        </button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
