<div class="background">
  <div id="login">
    <div style="text-align:center">
      <img src="assets/images/logo.png" class="logo">
    </div>

    <form>
      <div class="form-group">
        <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email">
      </div>

      <div style="text-align: right;">
        <button type="submit" class="btn btn-primary">Reset</button>
      </div>
      <p align="center">Already have an account?
        <a href="#">Login</a>
      </p>
    </form>
  </div>
</div>
