<div class="background">
  <div id="login">
    <div style="text-align:center">
      <img src="/assets/images/logo.png" class="logo">
    </div>

    <form>
      <div class="form-group">
        <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email">
      </div>
      <div class="form-group">
        <input type="password" class="form-control" id="password" placeholder="Password">
      </div>
      <div style="text-align: right;">
        <button type="submit" class="btn btn-primary">Login</button>
      </div>
      <p align="center">Forgot Password?
        <a href="#">Reset Here</a>
      </p>
    </form>
  </div>
</div>
